
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Museo Sans Cyrl 500';
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F8EEE4;
  background: url(img/iswanto-arif-448003-unsplash.svg);
  background-size: cover;

}


.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 145px;
}

.header__logo {
  display: flex;
  flex-wrap: wrap;
  margin-left: 247px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.header__item {
  margin-right: 34px;
}

.header__link {
  font-family: 'Museo Sans Cyrl 500';
  font-size: 22px;
  line-height: 26px;
  color: #F8EEE4;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 75%;
  text-decoration: underline;

}


.main__intro{
display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}




  .intro__content {
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    
  }


.content__title {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: bold;
  font-size: 280px;
  line-height: 362px;
  color: #F8EEE4;
  opacity: 0.4;
  margin: 0;
 

}

.content__sibtitle {
  position: absolute;
  margin: 0;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: bold;
  font-size: 98px;
  line-height: 127px;
  color: #F8EEE4;
  top: 60%;
  left: 10%;

}

.intro__text {
  max-width: 550px;
  font-size: 22px;
  line-height: 26px;
  
}

.intro__button {
  padding: 17px 87px;
  font-size: 22px;
  line-height: 26px;
  color: #FFFF;
  background: #D4BEA3;
  border-radius: 48px;
  border: 0;
  cursor: pointer;
}

.intro__button:hover, .intro__button:active{
  background: #9a8a76;
  opacity: 75%;
}

.intro__galleray {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  
}
.images__item {
  
  margin-left: 20px;

}














